@use "./../../../../scss/variables" as *;

button {
  height: 48px;
  padding: 0px 24px 0px 24px;
  border-radius: 9999px;
  overflow: hidden;
}

.primary {
  border: 1px solid rgba(255, 255, 255, 1);
}

.animated:hover {
  border: $btn-hover-border;
  span {
    display: inline-block;
    position: relative;
    animation: slideInOut 2s infinite;

    @keyframes slideInOut {
      0% {
        transform: translateX(0);
        opacity: 1;
      }
      30% {
        transform: translateX(-135%);
        opacity: 1;
      }
      40% {
        transform: translateX(-135%);
        opacity: 0;
      }
      50% {
        transform: translateX(135%);
        opacity: 0;
      }
      60% {
        transform: translateX(135%);
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
