@use "./../../../../scss/variables" as *;

button {
  height: 48px;
  padding: 0px 24px 0px 24px;
  border-radius: 9999px;
  overflow: hidden;

  &:hover {
    border: $btn-hover-border;
  }
}

.primary,
.secondary {
  border: 1px solid rgba(255, 255, 255, 1);
}

.secondary {
  position: relative;
  transition: all 100ms ease-in;
  padding-right: 39px;

  &::after {
    position: absolute;
    content: url("/assets/img/arrow_outward.png");
    transition: all 100ms ease-in;
    margin-left: 8px;
  }

  &:hover {
    color: $clr-primary-green;
  }
  &:hover::after {
    transform: translate(2px, -2px);
  }
}

.animated:hover {
  span {
    display: inline-block;
    position: relative;
    animation: slideInOut 2s infinite;

    @keyframes slideInOut {
      0% {
        transform: translateX(0);
        opacity: 1;
      }
      30% {
        transform: translateX(-135%);
        opacity: 1;
      }
      40% {
        transform: translateX(-135%);
        opacity: 0;
      }
      50% {
        transform: translateX(135%);
        opacity: 0;
      }
      60% {
        transform: translateX(135%);
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
