@use "./../../../scss/variables" as *;
@use "./../../../scss/mixin" as *;

#skills {
  padding-top: 144px;
  padding-bottom: 4px;
  background: $gradient-skill;

  .content {
    @include flexbox($justify: space-around);
  }
}
