<div class="container">
  <header class="header" role="banner" aria-labelledby="header-title">
    <div class="left-section">
      <div
        class="language-switcher"
        role="language-switcher"
        aria-label="Language switcher"
      >
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
          <span class="lang-label-en">EN</span>
          <span class="lang-label-de">DE</span>
        </label>
      </div>
      <nav class="navigation" role="navigation" aria-label="Main navigation">
        <a href="#about-me">{{ "about" | translate }}</a>
        <a href="#skills">{{ "skills" | translate }}</a>
        <a href="#projects">{{ "projects" | translate }}</a>
      </nav>
    </div>
    <div class="right-section">
      <a href="/">
        <img src="assets/logo.png" alt="logo" />
      </a>
    </div>
  </header>
</div>
