@use "./../../../../scss/variables" as *;
@use "./../../../../scss/fonts" as *;
@use "./../../../../scss/mixin" as *;

.header {
  @include flexbox($justify: space-between);
  font-family: "FireCode";
  height: $header-height;
}

.left-section {
  @include flexbox();
  gap: 24px;

  .navigation {
    display: flex;
    gap: 24px;

    a {
      position: relative;
      color: whitesmoke;
      text-decoration: none;
      transition: color 75ms;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 6.4px;
        height: 6.4px;
        background-color: $clr-nav-link;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 100ms ease-in;
      }

      &:active {
        color: $clr-nav-link;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.switch {
  position: relative;
  @include flexbox($justify: space-around);
  width: 80px;
  height: 28px;
  border: 1px solid $clr-primary-green;
  border-radius: 9999px;

  input {
    display: none;

    &:checked + .slider:before {
      -webkit-transform: translateX(36px);
      -ms-transform: translateX(36px);
      transform: translateX(36px);
    }
  }

  .lang-label-en,
  .lang-label-de {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  &:hover input:not(:checked) ~ .lang-label-de {
    color: $clr-primary-green;
  }

  &:hover input:checked ~ .lang-label-en {
    color: $clr-primary-green;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &::before {
    position: absolute;
    content: "";
    height: 28px;
    width: 44px;
    left: -1px;
    bottom: -1px;
    background-color: $clr-primary-green;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &.round:before {
    border-radius: 9999px;
  }
}

input ~ .lang-label-en,
input ~ .lang-label-de {
  color: $clr-language-switch-text-inactive;
  transition: color 0.3s ease-in-out;
}

input:checked ~ .lang-label-en {
  color: $clr-language-switch-text-inactive;
}

input:not(:checked) ~ .lang-label-de {
  color: $clr-language-switch-text-inactive;
}

input:checked ~ .lang-label-de,
input:not(:checked) ~ .lang-label-en {
  color: $clr-language-switch-text-active;
  transition: color 0.3s ease-in-out;
}
