<div class="container">
  <header class="header" role="banner" aria-labelledby="header-title">
    <div class="left-section">
      <div
        class="language-switcher"
        role="language-switcher"
        aria-label="Language switcher"
      >
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
          <span class="lang-label-en">EN</span>
          <span class="lang-label-de">DE</span>
        </label>
      </div>
      <nav class="navigation" role="navigation" aria-label="Main navigation">
        <a href="#about-me">{{ "about" | translate }}</a>
        <a href="#skills">{{ "skills" | translate }}</a>
        <a href="#projects">{{ "projects" | translate }}</a>
      </nav>
    </div>
    <div class="right-section">
      <a href="/">
        <img
          src="/assets/img/logo.png"
          class="logo jello-horizontal"
          alt="logo"
        />
      </a>
    </div>
    <div class="mobile-menu-section">
      <button
        class="mobile-menu-toggler"
        aria-label="Open navigation"
        (click)="toggleMobileMenu()"
      >
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu"></span>
      </button>
      <nav
        id="mobile-menu"
        class="mobile-menu d_none"
        role="navigation"
        aria-label="Mobile navigation"
        data-mb-active="false"
      >
        <a href="#about-me" (click)="toggleMobileMenu()">{{
          "about" | translate
        }}</a>
        <a href="#skills" (click)="toggleMobileMenu()">{{
          "skills" | translate
        }}</a>
        <a href="#projects" (click)="toggleMobileMenu()">{{
          "projects" | translate
        }}</a>

        <div
          class="language-switcher"
          role="language-switcher"
          aria-label="Language switcher"
        >
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
            <span class="lang-label-en">EN</span>
            <span class="lang-label-de">DE</span>
          </label>
        </div>
      </nav>
    </div>
  </header>
</div>
