@use "./../../../../../scss/mixin" as *;

.title {
  @include flexbox($direction: column);

  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    font-family: "FireCode";
  }

  h2 {
    font-family: Karla;
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
    letter-spacing: -0.02em;
  }

  > div {
    @include flexbox($gap: 48px);
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
