@use "./../../../../../scss/variables" as *;
@use "./../../../../../scss/mixin" as *;

.carousel {
  @include flexbox($justify: center);
  position: relative;
  width: 100%;
  max-width: 600px;

  .carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  }
}

.carousel-control {
  @include flexbox($justify: center, $align: center, $gap: 20px);
  padding-top: 44px;

  .btn-control {
    svg {
      transition: all 100ms ease-in;
    }

    &:hover {
      path {
        fill: $clr-primary-green;
      }
      &.btn-left svg {
        transform: translateX(-5px) scale(1.05);
      }
      &.btn-right svg {
        transform: translateX(5px) scale(1.05);
      }
    }
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background-color: white;
  }
}
