@use "./../../../scss/variables" as *;
@use "./../../../scss/mixin" as *;

.content {
  @include flexbox($justify: space-between);
  @include paddingInline($paddingLeft: 100px, $paddingRight: 100px);

  app-image {
    margin-bottom: 238px;
  }

  @include breakpoint(xl) {
    @include flexbox(
      $direction: row,
      $justify: space-between,
      $align: center,
      $gap: 0
    );

    app-image {
      margin-bottom: 40px;
    }
  }

  @include breakpoint(md) {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $align: center,
      $gap: 40px
    );
  }
}

#about-me {
  padding-top: 144px;
}
