@use "./../../../../scss/variables" as *;
@use "./../../../../scss/mixin" as *;

footer {
  padding-top: 144px;
  padding-bottom: 64px;
}
.footer {
  @include flexbox($justify: space-between);

  .footer-left {
    @include flexbox($direction: column, $align: flex-start, $gap: 32px);

    .left-content {
      @include flexbox($direction: column, $align: flex-start, $gap: 8px);

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        @include breakpoint(sm) {
          font-size: 14px;
        }
      }
    }
  }

  .footer-copyright {
    font-family: "FireCode";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $clr-primary-green;

    @include breakpoint(sm) {
      display: none;
    }
  }

  .footer-right {
    @include flexbox(
      $direction: column,
      $justify: flex-end,
      $align: flex-start,
      $gap: 8px
    );

    a,
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      color: white;
      text-decoration: none;
      cursor: pointer;

      @include breakpoint(sm) {
        font-size: 14px;
      }
    }
  }
}

.footer-copyright-mobile {
  display: none;

  @include breakpoint(sm) {
    @include flexbox($justify: center, $align: center);
    font-family: "FireCode";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: $clr-primary-green;
    margin-top: 32px;
  }
}
