<div class="container">
  <footer>
    <div class="footer">
      <div class="footer-left">
        <a href="#hero">
          <img
            class="logo jello-horizontal"
            src="/assets/img/logo.png"
            alt="logo"
          />
        </a>
        <div class="left-content">
          <p>Web Developer</p>
          <p>Stuttgart Germany</p>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2024 Mario Kreitz</p>
      </div>
      <ul class="footer-right">
        @for (link of links; track $index) {
        <li>
          @if(!link.sidemap){<a
            class="external-links"
            [href]="link.email ? 'mailto:' + link.url : link.url"
            target="_blank"
            >{{ link.name }}</a
          >}@else {
          <p
            class="footer-router-links"
            [routerLink]="[link.url]"
            routerLinkActive="router-link-active"
          >
            {{ link.name }}
          </p>
          }
        </li>
        }
      </ul>
    </div>
    <div class="footer-copyright-mobile">
      <p>&copy; 2024 Mario Kreitz</p>
    </div>
  </footer>
</div>
