@use "./../../../../../../scss/variables" as *;
@use "./../../../../../../scss/mixin" as *;

.project-card {
  @include flexbox($justify: space-between);
  padding: 40px 32px 40px 32px;

  h2 {
    font-family: "FireCode";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
  }

  ul {
    @include flexbox($gap: 10px);
  }
}

.seperator {
  border-right: 2px solid $clr-primary-green;
  height: 18px;
  width: 0;
}

.border-top {
  border-top: 1px solid $clr-primary-green;
}

.border-bottom {
  border-bottom: 1px solid $clr-primary-green;
}
