@use "./scss/reset" as *;
@use "scss/_variables.scss" as *;
@use "scss/fonts.scss" as *;
@use "./scss/scroller" as *;

body {
  font-family: "Karla";
  font-weight: normal;
  background-color: $clr-body-bg;
  color: whitesmoke;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  margin: auto;
  padding-left: 96px;
  padding-right: 96px;
}
