@use "./../../../scss/variables" as *;
@use "./../../../scss/mixin" as *;

#projects {
  padding-top: 144px;
  padding-bottom: 16px;
}

.content {
  @include flexbox($direction: column, $align: flex-start);
  @include paddingInline($paddingLeft: 100px, $paddingRight: 100px);

  @include breakpoint(md) {
    app-menu {
      width: 100%;
    }
  }

  @include breakpoint(sm) {
    @include paddingInline($paddingLeft: 0px, $paddingRight: 0px);
  }
}
