@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "FireCode";
  src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}
