@use "sass:math";

@mixin flexbox($direction: row, $justify: flex-start, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin contentBox($color, $alpha: 0.1) {
  border: 1px solid $color;
  background: rgba($color, $alpha);
  backdrop-filter: blur(4px);
}

@mixin paddingInline($paddingLeft: 0, $paddingRight: 0) {
  padding-left: $paddingLeft;
  padding-right: $paddingRight;

  @include breakpoint(xl) {
    padding-left: math.div($paddingLeft, 2);
    padding-right: math.div($paddingRight, 2);
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "xs" {
    @media screen and (max-width: 440px) {
      @content;
    }
  } @else if $breakpoint == "sm" {
    @media screen and (max-width: 830px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media screen and (max-width: 1300px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media screen and (max-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media screen and (max-width: 1500px) {
      @content;
    }
  } @else if $breakpoint == "xxl" {
    @media screen and (max-width: 1600px) {
      @content;
    }
  }
}
