// Global variables
// ---------------------------------------------
$header-height: 98px;
$profile-decorator-move: 30px;
// Colors
// ---------------------------------------------
$clr-primary-green: rgba(61, 207, 182, 1);

$clr-body-bg: rgba(28, 28, 28, 1);

$clr-mouse: rgba(61, 207, 182, 0.33);

$clr-language-switch-text-active: rgba(255, 255, 255, 1);
$clr-language-switch-text-inactive: rgba(61, 207, 182, 0.5);

$clr-nav-link: rgba(106, 215, 191, 1);

$clr-error-message: rgba(255, 69, 58, 1);

// Button Hover
// ---------------------------------------------
$btn-hover-border: 1px solid $clr-primary-green;

// Effects
// ---------------------------------------------
$blur-mouse: blur(30px);
$gradient-hero: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
$gradient-skill: radial-gradient(
  15% 40% at -3% 60%,
  rgba($clr-primary-green, 0.3) 0%,
  $clr-body-bg 100%
);
