// Global variables
// ---------------------------------------------
$header-height: 98px;
$hero-height: calc(100vh - $header-height);
// Colors
// ---------------------------------------------
$clr-body-bg: rgba(41, 41, 41, 1);

$clr-mouse: rgba(61, 207, 182, 0.33);

$clr-language-switch-bg: rgba(61, 207, 182, 1);
$clr-language-switch-text-active: rgba(255, 255, 255, 1);
$clr-language-switch-text-inactive: rgba(61, 207, 182, 0.5);

// Effects
// ---------------------------------------------
$blur-mouse: blur(30px);
