// Global variables
// ---------------------------------------------

// Colors
// ---------------------------------------------
$clr-body-bg: #292929;
$clr-mouse: rgba(61, 207, 182, 0.33);

// Effects
// ---------------------------------------------
$blur-mouse: blur(30px);
