@use "./../../../scss/variables" as *;
@use "./../../../scss/mixin" as *;

app-title {
  height: 100%;
  @include flexbox();
}
.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);

  @include breakpoint(sm) {
    height: 100dvh;
  }
}

.content {
  height: 100vh;
  @include flexbox($justify: space-between, $align: flex-end);
}
