@use "./../../../../../scss/variables" as *;
@use "./../../../../../scss/mixin" as *;

.who-am-i {
  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.06px;
    color: $clr-primary-green;
    margin-bottom: 20px;
  }

  .about-me {
    @include flexbox($direction: column, $gap: 40px, $align: flex-start);
    width: 568px;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid $clr-primary-green;
    background: rgba($clr-primary-green, 0.1);
    backdrop-filter: blur(4px);

    > h3 {
      color: $clr-primary-green;
      font-family: "FireCode";
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -3%;
    }
    > p {
      font-size: 18px;
      line-height: 21.6px;
      text-wrap: pretty;
    }

    .about-perks {
      @include flexbox($direction: column, $gap: 24px);

      .perkOne,
      .perkTwo,
      .perkThree {
        @include flexbox($gap: 24px);
        svg {
          width: 32px;
          height: 32px;
        }
        p {
          flex: 1;
          color: rgba(255, 255, 255, 0.8);

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
